<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.monitoreopucp">

    <!-- Para poder usar la camara -->
    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <!-- Acceso a la geolocalizacion -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <!-- Para poder grabar fotos en memoria -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".IncidenciaSeleccionada"
            android:label="@string/titel_incidencia_seleccionada"/>
        <activity
            android:name=".MapFilterActivity"
            android:label="@string/title_activity_map_filter" />
        <activity android:name=".FilterActivity">

        </activity>
        <activity android:name=".InfraIncidenciasHistoryActivity">

        </activity>
        <activity
            android:name=".UserIncidenciasHistoryActivity"
            android:label="@string/UserIncidenciasHistory">

        </activity>
        <activity android:name=".UserIncidenciasReportadasActivity" android:label="@string/UserIncidencias_titulo">


        </activity>

        
        <activity
            android:name=".IncidenciasListActivity"
            android:label="@string/title_incidencias_cercanas"/>
        <activity
            android:name=".AgregarAnotacionActivity"
            android:label="@string/nueva_anotacion_title" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity android:name=".LoginActivity" />
        <activity android:name=".MainActivity">


        </activity>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />
    </application>

</manifest>